body {
   width: 100%;
   height: 100%;
   background-color: #006400;
}

h1 {
   text-align: center;
   color: yellow;
}

h3 {
   text-align: center;
   color: yellow;
}

#winOrLoss {
   color: white;
   text-align: center;
   font-weight: bold;
}

#gameStart, #twoBtns{
   display: flex;
   justify-content: center;
}

#board {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-auto-flow: row;
}

 #playerDiv {
   grid-area: 1 / 1;
} 

#computerDiv {
   grid-area: 1 / 2;
} 

ul {
   display: flex;
}

li {
   list-style-type: none;
}

#scores {
   display: flex;
   flex-direction: column;
   /* justify-content: center; */
   background-color: black;
   width: 25%;
}

#playerData {
   text-align: center;
}

